.button{
    -fx-background-color:
           #c3c4c4,
           linear-gradient(#d6d6d6 50%, white 100%),
           radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-cursor:hand;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.button:hover{
    -fx-text-fill: white;
    -fx-background-color:#94B3FD;
}
.button:hover .glyph-icon{

    -fx-fill: white;
}
.button:hover .mfx-font-icon{
    -mfx-color:white;
}

.button:pressed{
    -fx-text-fill: white;
    -fx-background-color: #2262C6;
}